::selection{
	background: orange;
}


html{
	height: 100%;
	width: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Arial';
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat';
}

.link{
	color: inherit;
	border-bottom: 1px dashed;
}

.link:hover{
	border-bottom: 1px solid;
	text-decoration: none;
}

p{
	font-size: 14pt;
	font-family: 'Merriweather Sans';
	font-weight: 300;
	text-align: justify;
	line-height: 2;
}

input[type=submit]:focus{
	outline: none;
}

.container-full-height{
	border-top: none;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.jumbotron-image{
	background-image: url(../img/IMG_7790.JPG);
	background-size: cover;
	background-position: center 100%;
	z-index: 2;
}

.main-title{
    font-size: 50pt;
    text-transform: none;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    letter-spacing: 1px;
    border: none;
    font-family: 'Montserrat';
}

.sub-title{
	font-family: 'Merriweather Sans';
	font-weight: 300;
	opacity: 0.8;
	color: #fff;
}

.row-additional-padding{
	padding: 0 50px;
}

.section-title{
	font-size: 50pt;
	font-size: 50pt;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 3%;
}

.cover-arrow{
	border: 2px solid #fff;
	height: 50px;
	border-width: 0 3px 3px 0;
	width: 50px;
	-webkit-transform: rotate(45deg);
	margin: auto;
	position: absolute;
	bottom: 20%;
	left: 50%;
	margin-left: -25px;
	text-align: center;
	opacity: 0.7;
	box-shadow: 1px 1px 1px #333;
	-moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.cover-arrow:hover{
	cursor: pointer;
	opacity: 1;
	-moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.diamond-nav{
	border: 2px solid #446474;
	height: 16px;
	width: 16px;
	background-color: transparent;
	-webkit-transform: rotate(45deg);
	-moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.diamond-active{
	background-color: #446474;
}

.diamond-nav:hover{
	background-color: #446474;
	cursor: pointer;
}

.padding-top-5{
	padding: 3% 0;
}

.padding-top-10{
	padding: 1% 0;
}

#contact-container,
#gallery-container{
	background-color: #ECE9E9;
	color: #3E3D40;
}

#about-container {
	background-color: #91BED4;
	color: #446474;
	padding-bottom: 40px;
}

#about-container .section-title{
	border-bottom: 1px solid #446474;
}

#about-container p{
	color: #4E7081;
}

#gallery-container .section-title,
#contact-container .section-title{
	border-bottom: 1px solid #3E3D40;
}

/***************************************/
.sidebar{
	height: 100%;
	left: 20px;
	display: table;
	position: fixed;
	z-index: 1;
}

.sidebar-nav{
	width: auto;
	height: auto;
	padding: 5px;
	border-radius: 5px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.sidebar-breadcrumb{
	padding: 6px 0;
}

.sidebar-breadcrumb :hover{
	cursor: pointer;
}

.tooltip.left .tooltip-arrow{
    border-left-color: #d9534f;
}
/***************************************/

.comment-form{
	padding: 0 20px 0 20px;
	font-family: 'Merriweather Sans';
}

/*.comment-form label{
	margin-top: 2%;
}*/

.comment-form input{
	display: block;
	width: 100%;
}

.comment-form textarea{
	width: 100%;
	display: block;
	height: 250px;
	resize:none;
}

.comment-form input[type=submit]{
	width: 100px;
	padding: 10px;
	margin: 5% auto;
	font-family: 'Merriweather Sans';
	background-color: transparent;
	border: 2px solid #446474;
	color: #446474;
}

.comment-form input[type=submit]:hover{
	background-color: #446474;
	color: #fff;
}

.form-group.has-feedback> span.form-control-feedback{
	display: none;
}

.form-group.has-error> span.form-control-feedback{
	display: block;
}

.form-group.has-feedback> span.help-block{
	visibility: hidden;
}

.form-group.has-error> span.help-block{
	visibility: visible;
}

.custom-help-block{
	display: inline-block;
	margin: 0;
	float: right;
}

/* remove hove zoom on thumbnails */
#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0:hover{
	-ms-transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
}

